<% action_panel do |p| -%>
  <%= p.link "Add a new Category", :action => 'edit', :icon => 'add.png' %>
<% end -%>

<div class='admin_content'>
  <%= active_table_render :cardify_category_table -%>
  
</div>
