<% action_panel do |p| -%>
  <%= p.link "Add a new Theme", :action => 'edit', :icon => 'add.png' %>
<% end -%>

<div class='admin_content'>
  <%= active_table_render :cardify_theme_table -%>
  
</div>
